<!doctype html>
<html>

<body>

    <table border=1>
        {% if groups %}
        <tr>
            <th> Group Id </th>
            <th> Group Name </th>
            <th> Message Name</th>
            <th> Message Content</th>
            <th> Schedule </th>
        </tr>
        {%else%}
        <p>It seems you don't have any messages scheduled for any group.</p>
        {% endif%}
        {% for group in groups %}
            {% for message in group['messages'] %}

            <tr>
                <td> {{ group['chat_id'] }} </td>
                <td>{{group['name']}}</td>
                <td>{{message['name']}}</td>
                <td>{{message['text']}}</td>
                <td>{{message['schedule']}}</td>
            </tr>

            {% endfor %}
        {% endfor %}
    </table>

</body>

</html>