 {% extends 'base.html' %} {% block header %}
<h1>{% block title %}Schedules{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('dashboard.add_schedule') }}">New</a>
{% endif %} {% endblock %} {%block content %} {% for group in groups %}
<article class="post">
    <header>
        <div>
            <h1>Group Name: {{ group['name'] }}</h1>
            <h2>Group Id: {{ group['chat_id']}}</h2>
        </div>

    </header>
    <div>
        {% for message in group['messages']%}
        <div class="about">The message is scheduled on: {{message['schedule']}}</div>
        <a class="action" href="{{ url_for('dashboard.update', id=message['id'],chat_id=group['chat_id'])}}">Edit</a>
        <p class="body">{{ message['text'] }}</p>
    </div>{% if not loop.last %}
    <hr> {% endif %} {% endfor%}
</article>
{% if not loop.last %}
<hr> {% endif %} {% endfor %} K {%endblock%}